html
    head
        title WebAudioAPI
        script(src="https://cdnjs.cloudflare.com/ajax/libs/react/16.2.0/cjs/react.development.js")
    body
      audio(controls="controls" id="audio" autoplay crossorigin="anonymous")
        source(src="https://dl.dropboxusercontent.com/s/8c9m92u1euqnkaz/GershwinWhiteman-RhapsodyInBluePart1.mp3" )
